#foodCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    background-color: lightblue;
}

.food-card {
    width: 200px; 
    margin: 10px;
    padding: 10px;
    background-color: cream;
    box-sizing: border-box; 
    text-align: center; 
}

.food-card img {
    width: 200px;
    height: 200px; 
}

#foodForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: brown;
    padding: 20px;
    border-radius: 10px;
}
